.div1{
    width: 500px;
    height: 100px;
    background-color: pink;
    margin: 0px auto;
}
.div2{
    width: 500px;
    height: 100px;
    background-color: #3A7734;
    margin: 0px auto;
}
.div3{
    width: 500px;
    height: 100px;
    background-color: #6b46c1;
    margin: 0px auto;
}
.title{
    width: 1000px;
    height: 500px;
    background-color: #991b1b;
    margin: auto;
}